# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.yaml
*.json
notes.txt

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
Godeps/
vendor/

# heroku
.env
.docker_build/
bin/