<html>

<head>
    <title>{{.Brand}} - Confirm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table style="background-color:#747171; width:100%; height:100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:10px; height:20px;">&nbsp;</td>
            <td style="width:10px; height:20px;">&nbsp;</td>
            <td style="width:10px; height:20px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width:10px;">&nbsp;</td>
            <td>
                <table style="background-color:#ffffff;" width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td style="display: flex;justify-content: center;">
                            <img style="height: 100px;" src="https://{{.WebDomain}}/logo512.png" alt="logo" />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; color: #000000; padding:0 30px 30px;">
                            <h3>{{.Brand}}</h3>
                            <p><b>Carta:</b></p>
                            <p style="padding: 20px;">{{.Message}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <p style="text-align:center;">
                                <a href="{{.URL}}" style="margin-top: 20px;
                                text-decoration: none;
                                padding:10px; 
                                background-color: black; 
                                color: white;
                                cursor:pointer;
                                border-radius: 5px; 
                                transition: 0.3s;
                                font-size: 16px;">
                                    Confirmar
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10px; height:20px;">&nbsp;</td>
                        <td style="width:10px; height:20px;">&nbsp;</td>
                        <td style="width:10px; height:20px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
            <td style="width:10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width:10px;">&nbsp;</td>
            <td style="width:10px;">&nbsp;</td>
            <td style="width:10px;">&nbsp;</td>
        </tr>
    </table>
</body>

</html>