<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
</head>

<style>
    .button {
        background-color: #008CBA;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>

<body>
    <p>
        Hola {{.Name}}!<br/>
        <br/> Mensaje: <br/>
        <pre>{{.Message}}</pre>
        <br/>
        <a href="{{.URL}}" target="_blank" class="button">Haz click aquí para confirmar tu mensaje</a>
    </p>
</body>

</html>